@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/*  FONDO Y FUENTE DEL DOCUMENTO */
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(1, 58, 84, 0.7);
}
body::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #04d643;
  border-radius: 10px;
}

.fondodocumento {
  background-image: url(../img/carrusel/fondodoncumento.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* FUENTES */
h1 {
  font-size: 2rem;
  color: white;
}

h2 {
  font-size: 1.8rem;
  color: #04d643;
}

h3 {
  font-size: 1rem;
  color: white;
}

h4 {
  font-size: 0.8rem;
  color: white;
  opacity: 0.5;
}

p {
  font-size: 1.6rem;
  color: white;
  padding: 10px;
}

/* BOTONES */
.botones {
  flex-direction: row;
  justify-content: center;
  margin: auto;
  color: #04d643;
  background-color: black;
  border-radius: 4px;
  align-items: center;
  width: 12vw;
  transition: all 0.3s;
}
.botones:hover {
  background-color: transparent;
  color: white;
  border: white 2px;
  transform: scale(1.05);
}

.botonesform {
  background-color: black;
  border: #04d643 solid 1px;
  color: #04d643;
  transform: all 0.3s ease;
}

.boton {
  color: #04d643;
  background-color: black;
}

.login {
  flex-direction: row;
  justify-content: center;
  margin: auto;
  color: #04d643;
  background-color: black;
  border-radius: 5px;
  align-items: center;
  width: 20vw;
}

#btn-mas {
  display: none;
}

.carrito {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.flotante {
  background: black;
  color: #04d643;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}

.flotante:hover {
  background-color: #04d643;
  color: black;
}

/* HEADER */
.barranav {
  color: white;
  font-size: 1.3rem;
}
.barranav :hover {
  color: #04d643;
}

.navbar {
  background-color: rgba(1, 58, 84, 0.7);
  border-bottom: 1px solid #04d643;
}

/* CARRUSEL DE IMAGENES */
.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imginicio {
  display: none;
}

/* SECCION PARA INGRESAR VISTAS PEQUEÑAS */
.ingreso-b {
  display: none;
}

.enter {
  background-color: rgba(75, 131, 156, 0.7);
}

.cuenta {
  color: black;
}

.card {
  margin: auto;
  background-color: rgba(1, 58, 84, 0.7);
}
.card h2 {
  color: #04d643;
}
.card p {
  font-size: 1.2rem;
}

.imagencard {
  height: 170px;
}

/* SECCION DE BIENESTAR */
.foro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* SECCION DE TIENDA */
.imagentienda {
  transition: all 0.3s ease;
  width: 50vh;
  border-radius: 5px;
}
.imagentienda:hover {
  transform: scale(1.07);
  box-shadow: 0 5px 10px -5px rgb(0, 0, 0);
}

/* SECCION UBICACION */
.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* SECCION DE CONTACTO */
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  max-width: 400px;
  background: linear-gradient(#19547b, #04d643);
  border-radius: 7px;
  box-shadow: 0 5px 10px -5px rgb(0, 0, 0);
  color: white;
  margin: auto;
}

.fondoinput {
  background-color: transparent;
}

.contacto-b {
  display: none;
}

.profes {
  height: 220px;
}

.profesores h2 {
  color: #04d643;
}

/* // FOOTER// */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #04d643;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.redsocial {
  list-style-type: none;
}
.redsocial svg {
  color: #04d643;
}

/* // MEDIAS QUERRIES// */
@media (min-width: 340px) and (max-width: 768px) {
  .carrusel {
    display: none;
  }
  .imginicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ingreso-b {
    background-color: rgba(1, 58, 84, 0.7);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .tienda {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ingresar {
    display: none;
  }
  .contactanos {
    display: none;
  }
  .contacto-b {
    background-color: rgba(1, 58, 84, 0.7);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rutinas {
    margin-top: 15px;
  }
  .profesores {
    width: 300px;
    height: 600px;
  }
  .profes {
    height: 170px;
    width: 300px;
  }
  .botones {
    width: 30vh;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tienda {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .botones {
    width: 30vw;
    color: #04d643;
    margin: auto;
  }
  .contacto-b {
    display: none;
  }
}

/*# sourceMappingURL=estilo.css.map */
