/* SECCION DE CONTACTO */

.formulario {
    @include centrado;
    width: 30vw;
    max-width: 400px;
    background: linear-gradient(#19547b, $colordos);
    border-radius: 7px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 100%);
    color: $coloruno;
    margin: auto;
}
.fondoinput{
    background-color: $fondouno;
}
.contacto-b {
    display: none;
}
.profes{ 
    height: 220px;
    
}
.profesores{
    h2{
        color: $colordos;
    }
}