/* FUENTES */

h1 {
    font-size: 2rem;
    color: $coloruno;
}

h2 {
    font-size: 1.8rem;
    color: $coloruno;
}

h3 {
    font-size: 1rem;
    color: $coloruno;
}

h4 {
    font-size: 0.8rem;
    color: $coloruno;
    opacity: 0.5;
}

p {
    font-size: 1.6rem;
    color: $coloruno;
}