/* HEADER */

.barranav {
    color: $coloruno;
    font-size: 1.2rem;

    & :hover {
        color: $colordos;
    }
}

.navbar{
    background-color: $fondocuatro;
    border-bottom: 1px solid $colordos ;
}
