
.ingreso-b {
    display: none;
}

.enter {
    background-color: rgba(75, 131, 156, 0.7);
}

.cuenta {
    color: $colortres;
}

.card{
    margin: auto;
    background-color: $fondocuatro;
    h2{
        color: $colordos;
    }
    p{
        font-size: 1.2rem;
    }
}

.imagencard{
    height: 170px;
}
