// VARIABLES DE FONDOS Y COLORES //
$coloruno: black;
$colordos: #04d643;
$colortres: white;
$colorcuatro: #3fada8;
$fondouno: transparent;
$fondodos: black;
$fondotres: #000428;
$fondocuatro: rgba(1, 58, 84, 0.7);